Thumbs.db
desktop.ini
.obsidian/workspace.json
.obsidian/plugins/obsidian-git/data.json
.trash/
07_PUBLISH TO GITHUB/site/
07_PUBLISH TO GITHUB/public/

/00_OBSI-CORE/VARIABLES/API Key's.md
/00_OBSI-CORE/VARIABLES/API Key's.md
/00_OBSI-CORE/VARIABLES/API Key's.md.obsidian/plugins/*/data.json
00_OBSI-CORE/VARIABLES/API Key's.md
